.collection-item {
    width: 22%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
  
    .image {
      width: 100%;
      height: 95%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }

    button{
      width: 70%;
      font-size: 1.3rem;
      position: absolute;
      top: 255px;
      display: none;
      justify-content: center;
    }

    &:hover{
      .image{
        opacity: 0.8;
        cursor: pointer;
      }

      button{
        opacity: 0.7;
        display: flex;
        
      }
    }

    button:hover{
      opacity: 0.8;
      color: white;
      background-color: black;
      border-color: black;
    }

  
    .collection-footer {
      width: 100%;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }
    }
  }