.sign-in-component{
    /* width: 30%; */
}

.sign-in-component form{
    margin-top: 9%;
}

input {
    margin-top: 3%;
}

.sign-in-buttons{
    margin-top: 7%;
    margin-bottom: 5%;
    margin-right: 7%;
}

#sign-in-error{
    display: block;
    color: red;
    font-size: 0.95rem;
}