.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
    }

    .category-link{
      position: absolute;
      margin-left: 11%;
      font-size: 1.4rem;
      color: grey;
      text-decoration: none;
    }
  
    .preview {
      display: flex;
      justify-content: space-between;
    }
  }